.fs5 {
    width: 70%;
}

#theonlybox {
    margin-left: 330px;
    text-align: left;
}

.class2 {
    width: 250px;
    float:right;
    margin-right:100px;
    font-size:13px;
    border-radius:5px;
    transition:0.3s;
}

.class2:hover {
    border-color:green;
    transition:0.3s;
}

#country {
    width: 160px;
    float:right;
    margin-right: 100px;
    font-size:13px;
    border-radius:5px;
}

.class1 {
    float: left;
    margin-left: 100px;
}

.fs5 {

    background-color: #f2f2f2;
    padding: 20px;
    border: 5px solid #4d4d4d;
    border-radius: 8px;
    margin: 25px;
    box-shadow:5px 5px 10px grey;
    text-align:justify;
    font-family: 'Tillana', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 20px;
}

#submit {

    height:35px;
    width:80px;
    font-size:18px;
    border-radius:6px;
    color:white;
    background-color:black;
    border-color:#4d4d4d;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 900;
    transition:0.3s;
    margin-left: 400px;
}

#submit:hover {
    color:green;
    background-color:white;
    border-color:green;
    transition:0.3s;
}

#messageDisplay {
    background-color: red;
    color:white;
    width: 370px;
}
/*.cb {
    display: block;  
    margin-right: auto;  
    margin-left: auto; 
}*/